<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- CSS -->
     <link rel="stylesheet" th:href="@{/css/employee_list.css}" />
<!--    <link rel="stylesheet" href="employee_list.css">-->
</head>
<body class="d-flex flex-column">

<header>
    <nav class="navbar navbar-expand-md navbar-dark nav-header">
        <div>
            <a href="/home" class="navbar-brand"> Myemployee</a>
        </div>

        <ul class="navbar-nav">
            <li><a href="/shop.html" class="nav-link">Department</a></li>
        </ul>

        <ul class="navbar-nav">
            <li><a href="/table.html" class="nav-link">Employee</a></li>
        </ul>



<!--        <ul class="navbar-nav navbar-collapse justify-content-end">-->
<!--            <li><a href="/profile" class="nav-link text-white">Welcome Guest</a></li>-->
<!--            <li><a href="/logout" class="nav-link text-white">Logout</a></li>-->
<!--        </ul>-->
    </nav>
</header>

<main class="container flex-fill">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5">
                <h3 class="text-center">Employee List</h3>
                <hr>
            </div>

            <div class="col-md-12 mt-2">
                <div class="d-flex justify-content-between">
                    <ul class="nav text-left">
                        <li class="nav-item">
                            <a class="nav-link active" href="/book/list">All Employees</a>
                        </li>


                        <li class="nav-item">
                        <a class="nav-link active" href="/book/list">Front-End</a>
                        </li>


                        <li class="nav-item">
                        <a class="nav-link active" href="/book/list">Back-End</a>
                        </li>

                        <li class="nav-item">
                        <a class="nav-link active" href="/book/list">Test</a>
                        </li>

<!--                        <li class="nav-item" th:each="emp : ${employeeList}">-->
<!--&lt;!&ndash;                            th:each="au : ${authorList}">&ndash;&gt;-->
<!--                            <a class="nav-link" th:href="@{'/employee/list/employee?employeeId=' +${emp.employeeId}}" th:text="${emp.employeeName}"></a>-->
<!--&lt;!&ndash;                               th:href="@{'/book/list/author?authorId=' + ${au.authorId}}" th:text="${au.name}"></a>&ndash;&gt;-->
<!--                        </li>-->

                    </ul>

                    <a href="/employee/new" class="btn btn-success text-right">Add New</a>
                </div>
            </div>



            <div class="col-md-12 mt-3 table-responsive">
                <table id="table-view" class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>#ID</th>
                        <th>FullName</th>
                        <th>Job Title</th>
                        <th>Salary</th>
                        <th>Hire Date</th>
                        <th>Department</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="emp : ${employees}">
                        <td th:text="${emp.employeeId}"></td>
                        <td th:text="${emp.employeeName}"></td>
                        <td th:text="${emp.jobTitle}"></td>
                        <td th:text="${emp.salary}"></td>
                        <td th:text="${emp.hireDate}"></td>
                        <td th:text="${emp.department.departmentName}"></td>
<!--                        <td th:text="${emp.department != null ? emp.department.departmentName : 'N/A'}"></td>-->
                        <td>
                            <span class="badge bg-success" th:if="${emp.status}">Active</span>
                            <span class="badge bg-danger" th:if="${!emp.status}">Inactive</span>
                        </td>
                        <td>

                            <a class="btn btn-info btn-sm" th:href="@{'/employee/details/' + ${emp.employeeId}}">
                                <i class="fas fa-eye"></i>
                                View Details
                            </a>


<!--                            th:href="@{'/employee/edit/' + ${emp.employeeId}}"-->
                            <a class="btn btn-primary btn-sm" th:href="@{'/employee/form/' + ${emp.employeeId}}">Edit</a>
                            <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-id="${emp.employeeId}">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>


                <nav aria-label="..." th:if="${!employeeList.isEmpty()}">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
<!--                            <a class="page-link" th:href="@{'/employee/list?currentPage=' + ${currentPage - 1} + '&maxRecord=' + ${maxRecord}}">Prev</a>-->
                            <a class="page-link" th:href="@{'/employee/list?currentPage=' + ${currentPage - 1} + '&maxRecord=' + ${maxRecord}}">Prev</a>

                        </li>

                        <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1, totalPage)}"
                            th:classappend="${currentPage == pageNumber ? 'active' : ''}">
                            <a class="page-link"
                               th:href="@{'/employee/list?currentPage=' + ${pageNumber} + '&maxRecord=' + ${maxRecord}}"
                               th:text="${pageNumber}"></a>
                        </li>

                        <li class="page-item" th:classappend="${currentPage == totalPage ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{'/employee/list?currentPage=' + ${currentPage + 1} + '&maxRecord=' + ${maxRecord}} ">Next</a>
                        </li>
                    </ul>
                </nav>






            </div>
        </div>
    </div>
</main>

<!--<footer class="nav-footer font-small black mt-3">-->
<!--    <div class="text-center text-white py-3">Copyright © 2023 FAS Team</div>-->
<!--</footer>-->

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

<!-- Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this data?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="deleteButton" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>


</div>

<script>
    $('#confirmDeleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        var deleteButton = $('#deleteButton');
        deleteButton.attr('onclick', 'customDeleteFunction("' + id + '")');
    });

    function customDeleteFunction(id) {
        $.ajax({
            url: '/delete?id=' + id,
            type: 'DELETE',
            success: function () {
                $('#confirmDeleteModal').modal('hide');
                $('#table-view').find('td[data-id="' + id + '"]').eq(0).html('<span class="badge bg-danger">Inactive</span>');
            },
            error: function () {
                alert('Failed to delete item!');
                $('#confirmDeleteModal').modal('hide');
                // window.location.reload();
                // $('#table-view').find('td[data-id="' + id + '"]').eq(0).html('<span class="badge bg-danger">Inactive</span>');
            }
        });
    }
</script>

</body>
</html>